{% if badge_type == 'sale' %}
<span class="{% if mobile %} block md:hidden {% else %} hidden md:block {% endif %} px-2.5 py-1.5 bg-gray-800 rounded-sm absolute z-[10] top-3 left-3 text-white uppercase">Sale</span>
{% endif %}
