<template x-teleport="body">
<div x-show="locationModal" class="fixed inset-0 w-full h-full flex justify-center items-center">
<dialog @click.away="locationModal = false" class="flex flex-col gap-2 p-3.5 bg-white w-full max-w-[460px] mx-auto z-10 shadow-xl">
<div class="pb-3.5 px-3.5">
  <span class="font-bold">STORE DETAILS</span>
</div>
<div class="flex justify-between items-center p-3.5 border-t border-gray-200">
  <span class="text-sm font-bold uppercase" x-text="popupLocation?.name"></span>
  <span class="uppercase">Work time today:</span>
</div>
<div class="flex flex-col gap-2 p-3.5 bg-gray-100">
  <span class="font-bold">Address</span>
  <span x-html="popupLocation?.address"></span>
  <span class="text-brand" x-text="popupLocation?.phone"></span>
</div>
<div class="flex flex-col gap-2 p-3.5 bg-gray-100">
  <span class="font-bold">Address</span>
  <span x-html="popupLocation?.address"></span>
  <span class="text-brand" x-text="popupLocation?.phone"></span>
</div>
<span class="text-brand text-xs">For the health and safety of our clients and associates, store hours may vary. Call your local store for operating hours.</span>
</dialog>
</div>
</template>
