{% comment %}
  Renders a swatch component.
  Accepts:
  - swatch: {Object} a swatch object
  - shape: {String} swatch shape. Accepts 'square', defaults to circle.

  Usage:
  {% render 'swatch',
    swatch: value.swatch
    shape: 'square'
  %}
{% endcomment %}

{%- liquid
  assign swatch_value = null
  if swatch.image
    assign image_url = swatch.image | image_url: width: 50
    assign swatch_value = 'url(' | append: image_url | append: ')'
    assign swatch_focal_point = swatch.image.presentation.focal_point
  elsif swatch.color
    assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
  endif
-%}
<span
  {% if swatch_value %}
  class="swatch {% if featured_collection %} w-4 h-4 {% else %} w-9 h-9 {% endif %} %} rounded-full text-white flex justify-center items-center"
    style="background-image: {{ swatch_value }};{% if swatch_focal_point %} background-position: {{ swatch_focal_point }}; background-size: cover;{% endif %}"
  {% else %}
    class="swatch swatch--unavailable"
  {% endif %}
>
{% unless featured_collection %}
  {% render 'icon', icon: 'checkmark', class: '!h-3 !w-3 absolute z-100 checkmark' %}
{% endunless %}
</span>

