{% comment %}
  Renders buttons.

  Usage:
      {% render 'ui-buttons' %}
{% endcomment %}

<div class="grid grid-cols-2 gap-x-5 gap-y-8 lg:grid-cols-12">
  <div class="col-span-2 lg:col-span-12">
    <div class="flex flex-wrap items-center gap-5">
      <h2 class="font-mono text-base">Use this class to reset button styles:</h2>
      <div class="rounded bg-stone-300/40 px-2 py-1 font-mono text-sm italic">.reset-styles</div>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-center bg-stone-300/20 lg:col-span-6 xl:col-span-4">
    <div class="border-primary flex w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
      <button class="button">Primary Button</button>
      <span class="mt-2 rounded bg-stone-300/40 px-2 py-1 text-center font-mono text-xs italic">.button</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-center bg-stone-300/20 lg:col-span-6 xl:col-span-4">
    <div class="border-primary flex w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
      <button class="button white">White Button</button>
      <span class="mt-2 rounded bg-stone-300/40 px-2 py-1 text-center font-mono text-xs italic">.button.white</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-center bg-stone-300/20 lg:col-span-6 xl:col-span-4">
    <div class="border-primary flex w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
      <button class="button" disabled>Disabled Button</button>
      <span class="mt-2 rounded bg-stone-300/40 px-2 py-1 text-center font-mono text-xs italic">.button:disabled</span>
    </div>
  </div>
</div>
