{% comment %}
  Render colors.

  Usage:
      {% render 'ui-colors' %}
{% endcomment %}

<div class="grid grid-cols-2 gap-x-5 gap-y-8 lg:grid-cols-12">
  <div class="col-span-2 lg:col-span-12">
    <div class="flex flex-wrap items-center gap-5">
      <h2 class="text-xl font-bold uppercase">Path:</h2>
      <div class="rounded bg-stone-300/40 px-2 py-1 font-mono text-sm italic">snippets/colors.liquid</div>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="bg-primary !block h-28 w-full rounded-lg border border-stone-300/40"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>primary</span>
      <span>#2D2D2D</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="bg-brand !block h-28 w-full rounded-lg border border-stone-300/40"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>brand</span>
      <span>#DE2038</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-green-400"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>green-400</span>
      <span>#14B237</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-100"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-100</span>
      <span>#F5F5F5</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-200"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-200</span>
      <span>#E8E8E8</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-700"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-700</span>
      <span>#7E7E7E</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-800"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-800</span>
      <span>#3B3B3B</span>
    </div>
  </div>
</div>
