{% comment %}
  Renders typography

  Usage:
      {% render 'ui-typography' %}
{% endcomment %}

<div class="grid grid-cols-2 lg:grid-cols-12">
  <div class="col-span-2 lg:col-span-12">
    <div class="mb-10 flex items-center gap-20">
      <h1>Heading H1</h1>
      <div class="font-mono text-sm italic">
        <div>.text-5xl</div>
        <div>font-size: 44px</div>
        <div>line-height: 36px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h2>Heading H2</h2>
      <div class="font-mono text-sm italic">
        <div>.text-4xl</div>
        <div>font-size: 34px</div>
        <div>line-height: 42px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h3>Heading H3</h3>
      <div class="font-mono text-sm italic">
        <div>.text-3xl</div>
        <div>font-size: 30px</div>
        <div>line-height: 36px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h4>Heading H4</h4>
      <div class="font-mono text-sm italic">
        <div>.text-2xl</div>
        <div>font-size: 24px</div>
        <div>line-height: 30px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h5>Heading H5</h5>
      <div class="font-mono text-sm italic">
        <div>.text-xl</div>
        <div>font-size: 20px</div>
        <div>line-height: 28px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <div class="text-lg">Text Large</div>
      <div class="font-mono text-sm italic">
        <div>.text-lg</div>
        <div>font-size: 18px</div>
        <div>line-height: 25px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <div class="text-base">Text base</div>
      <div class="font-mono text-sm italic">
        <div>.text-base</div>
        <div>font-size: 16px</div>
        <div>line-height: 18px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <div class="text-sm">Text Small</div>
      <div class="font-mono text-sm italic">
        <div>.text-sm</div>
        <div>font-size: 14px</div>
        <div>line-height: 21px</div>
      </div>
    </div>

    <div class="flex items-center gap-20">
      <div class="text-xs">Text XSmall</div>
      <div class="font-mono text-sm italic">
        <div>.text-xs</div>
        <div>font-size: 12px</div>
        <div>line-height: 17px</div>
      </div>
    </div>
  </div>
</div>
