@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-Regular.woff2') format('woff2-variations');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-Italic.woff2') format('woff2-variations');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-Medium.woff2') format('woff2-variations');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-MediumItalic.woff2') format('woff2-variations');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-SemiBold.woff2') format('woff2-variations');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-SemiBoldItalic.woff2') format('woff2-variations');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-Bold.woff2') format('woff2-variations');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: ZillaSlab;
    src: url('/assets/ZillaSlab-BoldItalic.woff2') format('woff2-variations');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: Manrope;
    src: url('/assets/Manrope-Regular.woff2') format('woff2-variations');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Manrope;
    src: url('/assets/Manrope-Medium.woff2') format('woff2-variations');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Manrope;
    src: url('/assets/Manrope-SemiBold.woff2') format('woff2-variations');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Manrope;
    src: url('/assets/Manrope-Bold.woff2') format('woff2-variations');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Manrope;
    src: url('/assets/Manrope-ExtraBold.woff2') format('woff2-variations');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  html {
    @apply text-primary h-full scroll-smooth font-body text-base font-[var(--font-body-weight)] antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply min-h-full;
  }

  h1 {
    @apply font-heading text-5xl font-bold;
  }

  h2 {
    @apply font-heading text-4xl font-bold;
  }

  h3 {
    @apply font-heading text-3xl font-bold;
  }

  h4 {
    @apply font-heading text-2xl font-bold;
  }

  h5 {
    @apply font-heading text-xl font-bold;
  }

   .button:not(.reset-styles) {
    @apply border-primary bg-primary hover:border-brand hover:bg-brand inline-flex items-center justify-center rounded-sm border px-7.5 py-4 text-center text-sm font-semibold leading-4 text-white transition-all;

    &.white {
      @apply text-primary hover:border-brand hover:bg-brand border-white bg-white hover:text-white;
    }

    &:disabled {
      @apply cursor-not-allowed !border-gray-200 !bg-gray-200 !text-white;
    }
  }

  a:not(.button) {
    @apply hover:text-brand transition-all; 
  }

  .input-group {
    @apply relative;

    &:not(.reset-styles) {
      &.error {

        input:not([type='checkbox']),
        input:not([type='radio']),
        textarea,
        select {
          @apply border-brand pr-7.5;

          &+.icon-wrapper {
            @apply text-brand absolute right-3.75 top-1/2 h-2.5 w-2.5 -translate-y-1/2;
          }
        }
      }

      input:not([type='checkbox']),
      input:not([type='radio']),
      textarea {
        @apply leading-4.5 rounded-sm border border-gray-200 bg-white px-3.75 py-4 text-base font-semibold text-gray-800 !shadow-none !outline-none transition-colors focus:border-gray-700 lg:text-sm;
      }

      select {
        @apply leading-4.5 appearance-none rounded-sm border border-gray-200 bg-white bg-[95%_50%] bg-no-repeat px-3.75 py-4 text-base font-semibold text-gray-800 !shadow-none !outline-none transition-colors focus:border-gray-700 lg:text-sm;
        background-image: var(--select-bg);
        background-size: 12px;
      }

      input[type='checkbox'] {
        @apply hidden;

        &:checked+label {
          @apply before:border-gray-800 before:bg-gray-800;

          .icon-wrapper {
            @apply opacity-100;
          }
        }

        &:disabled+label {
          @apply cursor-not-allowed text-gray-700 before:bg-gray-200;
        }

        &+label {
          @apply relative cursor-pointer pl-7.5 before:absolute before:left-0 before:top-0.5 before:h-5 before:w-5 before:rounded-sm before:border before:border-gray-200 before:bg-white before:transition-colors;

          .icon-wrapper {
            @apply text-brand absolute left-1 top-1.5 h-3 w-3 opacity-0 transition-opacity;
          }
        }
      }

      input[type='radio'] {
        @apply hidden;

        &:checked+label {
          @apply before:bg-brand before:border-[5px] before:border-gray-800;
        }

        &:disabled+label {
          @apply cursor-not-allowed text-gray-700 before:bg-gray-200;
        }

        &+label {
          @apply relative cursor-pointer pl-7.5 before:absolute before:left-0 before:top-0.5 before:h-5 before:w-5 before:rounded-full before:border before:border-gray-200 before:bg-white before:transition-colors;
        }
      }
    }
  }
}

.container {
  @apply max-[1419px]:max-w-full min-[1460px]:px-0;
}

[x-cloak] {
  @apply hidden;
}

html:has(body.no-scroll),
body.no-scroll {
  overflow: hidden;
}

.variant-container input:not([name='options[Color]']):checked+label {
  @apply bg-primary border-primary text-white;
}

.variant-container input:not([name='options[Color]']):checked+label.sold-out {
  @apply cursor-not-allowed bg-gray-200 line-through text-gray-700 border-gray-200;
}

.variant-container input:not([name='options[Color]'])+label.sold-out {
  @apply cursor-not-allowed bg-gray-200 line-through text-gray-700 border-gray-200;
}



.variant-container input:not([name='options[Color]']):checked+label {
  @apply bg-primary border-primary text-white;
}
input[name='options[Color]']:checked+label {
  @apply border-2 border-gray-800;
}

input[name='options[Color]']+label .checkmark {
  @apply hidden;
}
input[name='options[Color]']:checked+label .checkmark {
  @apply block;
}


/**
 * Tabs
 */

.tabs .label {
  @apply order-1 cursor-pointer transition border border-gray-200;
}

.tabs .tab {
  @apply order-[99] flex-1 w-full hidden;
}

.tabs .label.active {
  @apply bg-gray-800 text-white border-gray-800;
}

.tabs .label.active + .tab {
  @apply block;
}

@media (max-width: 767px) {
  .tabs .tab,
  .tabs .label {
    order: initial;
  }
}


/* end tabs */


.swiper-pagination-bullet {
  @apply !bg-transparent border-2 border-white w-2.5 h-2.5 !opacity-100;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !bg-brand border-brand;
}

/* Hide the spinner on Chrome, Safari, Edge, Opera */
input[type="number"].quantity::-webkit-inner-spin-button,
input[type="number"].quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
/* Hide the spinner on Firefox */
input[type="number"].quantity {
  -moz-appearance: textfield;
}
  
.product__description.rte h3 {
  @apply font-heading text-3xl font-bold mb-5;
}

.product__description.rte h5 {
  @apply text-xl uppercase mb-2;
}

.product__description.rte ul {
  @apply list-disc pl-5;
}

.product__description.rte ul li {
  @apply text-sm font-body;
}

.product__description.rte ul li strong,
.product__description.rte ul li span strong {
  @apply font-semibold uppercase;
}

.product__description.rte p {
  @apply text-sm font-body;
}

.product__description.rte p strong {
  @apply font-semibold uppercase;
}

.swiper-featured-col .swiper-button-prev,.swiper-featured-col .swiper-button-next {
  @apply md:p-2.5 md:border md:border-gray-100 p-0 border-0 text-xs text-brand;
}

.swiper-featured-col .swiper-button-prev::after,
.swiper-featured-col .swiper-button-next::after {
  @apply text-sm;
}
